div.container {
  top: 122px;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.container > table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
#pesquisar {
  color: black;
}
#idfunc {
  background-color: inherit;
  outline: none;
  border: none;
}
#titulo {
  text-align: center;
}
